/*variables*/
$color-principal: #0A0B0E;
$color-secundario: #FFFFFF;
$color-tersiario: #A0A5AB;
$color-cuarto: #778DA9;
$color-fondo-grid: #454545;
$root:url(../../imag/);
$ancho: 100%-20%;
/*listas*/
$colores-contacto:  rgb(7, 183, 253), white, rgba(180, 179, 187, 0.938);
$lista-fon-size: 10px, 15px, 20px, 25px, 30px, 40px, 60px;
$lista-background-color: rgba(128, 128, 128, 0.3), rgba(12, 9, 5, 0.004);



/*mixin*/
@mixin flex($flex, $direction, $justify, $align) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

%flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;

}

%items1{
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
}


%items2{background-color: $color-cuarto;
    border: solid black 1px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-style: inherit;
    font-weight: bolder;
}
